{% extends "base.html" %}

{% block content %}
    
<form action="add" method="post">

    {% csrf_token %}

    Type your 1st input : <input type="number" name="num1" required/><br/>
    Type your 2st input : <input type="number" name="num2" required/><br/>
    <input type="submit" value="Submit here">
</form>

{% endblock %}
