<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
        <Input type="text" name="first_name" placeholder="First name"/><br/>
        <Input type="text" name="last_name" placeholder="Last name"/><br/>
        <Input type="email" name="email" placeholder="Email"/><br/>
        <Input type="password" name="password1" placeholder="Password"/><br/>
        <Input type="password" name="password2" placeholder="Confirm Password"/><br/>
        <input type="submit"/>
    </form>
</body>
</html>